:root {
    --purple10: #c2cae8;
    --purple20: #7b91e4;
    --purple30: #203891;
    --purple40: #111D4A;
}

body {
    font-family: 'Libre Baskerville', serif;
    color: var(--purple40);
    line-height: 1.5;
    font-size: 16px;
    background: linear-gradient(90deg, #d4c2e8, var(--purple10) ,var(--purple10), #b4dae2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

nav a {
    font-size: 1rem;
    font-weight: 900;
    color: var(--purple30);
    text-decoration: none;
}

a.active {
    border-left: 5px solid var(--purple20);
    padding-left: 10px;
}

main {
    padding: 0 1rem;
    padding-top: 64px;
}

a.skip {
    position: absolute;
    left: -400px;
    top: -200px;
}

.banner {
    max-width: 100vw;
    width: 100vw;
    margin-left: -1rem;
    padding: 0;
    border: none;
    border-radius: 0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

header {
    padding: 1rem;
    position: fixed;
    width: 100vw;
    background: linear-gradient(90deg, #d4c2e8, var(--purple10) ,var(--purple10), #b4dae2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.literature main h1,
.history main h1,
.femdict main h1 {
    font-size: 1.5rem;
    color: var(--purple30);
    margin-top: 1rem;
}

.literature h2,
.history h2 {
    text-align: center;
    padding: 1rem;
}

.femdict dt {
    text-align: center;
    background: var(--purple30);
    color: white;
    padding: 0.5rem 0;
}

main p {
    margin-bottom: 1rem;
}

main p:last-child {
    margin-bottom: 0;
}

.femdict dt {
    font-size: 20px;
    margin-top: 1rem;
    font-weight: bold;
}

.femdict dd {
    padding: 1rem;
    font-weight: bold;
}

.femdict dd:first-of-type {
    padding-bottom: 0;
}

.person,
.femdict dl>div {
    background: white;
}

.person div:nth-child(2),
.history main p {
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

header a:hover,
header a:focus {
    color: white;
}

nav ul {
    text-align: end;
    line-height: 2;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    font-size: 20px;
    color: var(--purple30);
}

footer {
    background-color: #614ad3;
    background-image: url(../images/woman-bg.svg);
    background-repeat: repeat-x;
    background-size: 200px;
    background-position: right bottom;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    height: 220px;
    position: relative;
}

#disclaimer {
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
    transition-property: color, background-color, font-size;
    transition-duration: 10ms;
    transition-timing-function: ease-in;
}

#disclaimer:hover {
    color: white;
    background-color: #111D4A;
    font-size: large;
}

#disclaimer i {
    display: none;
}

.literature img,
.history img {
    width: 100%;
}

#myNav {
    display: none;
}

.backtotop {
    display: none
}

.backtotop:active,
.backtotop:hover,
.backtotop:focus {
    background-color: var(--purple20);
}

.backtotop i {
    font-size: 30px;
    color: var(--purple40);
}

.person:hover,
.person:focus,
.femdict dl>div:hover,
.femdict dl>div:focus {
    box-shadow: rgb(0 0 0 / 30%) 5px 5px 20px;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (min-width: 768px) {
    #myNav {
        display: block;
    }

    .person {
        margin-bottom: 2rem;
    }

    .about h2 {
        margin-top: 1rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    .banner {
        margin-left: -10vw;
        margin-bottom: 2rem;
    }

    #myNav ul {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    .menu {
        display: none;
    }

    main {
        padding: 0 10vw;
        line-height: 2;
    }

    nav li {
        display: inline-block;
        padding: 20px 0 10px 0;
        border-radius: 5px;
    }

    header {
        position: initial;
    }

    header h1 {
        margin: 2rem auto 0 auto;
    }

    .literature main h1,
    .history main h1,
    .femdict main h1 {
        text-align: center;
        font-size: 30px;
    }

    #disclaimer {
        display: flex;
        align-items: center;
    }

    #disclaimer i {
        display: block;
        width: 150px;
    }

    .femdict dd:first-of-type {
        padding-bottom: 1rem;
    }

    .literature main h2,
    .history main h2 {
        padding: 1.5rem 0;
        margin-top: 0;
    }


    .literature>div {
        margin: 3rem 0;
        background: var(--purple10);
        padding: 3rem 0;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 20px;
    }

    .literature>div img {
        width: 100%;
    }

    .person div:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/-1;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .person div:nth-child(2) {
        grid-column: 2/3;
    }

    header h1 {
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
    }

    .femdict dt {
        font-size: 1.5rem;
        font-weight: bold;
        background-color: var(--purple30);
        color: white;
        grid-column: 1/span 2;
        margin-top: 0;
    }

    .history main p {
        padding: 0;
    }

    dl>div {
        display: grid;
        margin: 2rem 0;
        grid-template-columns: 2fr 4fr;
    }

    dl dd {
        padding: 2rem;
    }

    .fa-exclamation {
        font-weight: 900;
        font-size: 100px;
        width: 100px;
        text-align: center;
        color: var(--purple10);
    }

    main h1 {
        display: none;
    }

    .backtotop {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        bottom: 10px;
        right: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    .backtotop i {
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .person {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 3fr 5fr;
        margin-bottom: 4rem;
    }

    .person div:nth-child(2) {
        padding: 2rem;
    }

    h2 {
        font-size: 26px;
        margin-top: 0;
    }

    h3 {
        font-size: 22px;
    }

    dl>div {
        grid-template-columns: 2fr 2fr 4fr;
    }

    #Intersectionality {
        font-size: 1.5vw;
    }

    #Heteronormativity {
        font-size: 1.5vw;
    }
}

@media screen and (prefers-reduced-motion) { 
    body {
        font-family: 'Libre Baskerville', serif;
        color: var(--purple40);
        line-height: 1.5;
        font-size: 16px;
        background: var(--purple10);
        animation: none;
        height: inherit;
    }

    #disclaimer:hover{
        transition:none;
        background-color: white;
        color: initial;
        font-size: initial;
    }
}