body {
    background-color: #C2CAE8;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    color: #111D4A;
    line-height: 28pt;
    font-size: 16px;
    padding: 4rem 10vw;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

nav a {
    font-size: 18pt;
    font-weight: 900;
    color: #203891;
}

nav li {
    display: inline-block;
    padding: 20px 0 10px 0;
    border-radius: 5px;
}

a.active {
    border-top: 5px solid #7b91e4;
    padding-top: 10px;
}

nav a:hover {
    color: white;
}

img {
    border: 2px dashed #111D4A;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
}

img:hover {
    background-color: rgb(180, 174, 203);
}

.about img {
    width: 100%;
}

nav a {
    text-decoration: none;
}


h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2rem;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

.figure {
    margin-top: 2rem
}

.literature h2,
.literature h3 {
    margin: 10px 0;
}

.literature>div {
    margin: 3rem 0;
    background: rgb(194, 202, 232);
    padding: 3rem 0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 20px;
}

.literature>div img {
    width: 100%;
}

.literature div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/-1;
}

.literature div:nth-child(2) {
    grid-column: 2/3;
}

.literature div:nth-child(3) {
    grid-column: 2/3;
}

.literature p {
    font-size: 16px;
}

.tops {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 20px;
    border-radius: 20px;
}